.board {
  padding: 12px;
  background-color: #131313;
  width: 272px;
  border-radius: 10px;
  height: 292.33px;

  user-select: none; /* стандартное свойство */
  -webkit-user-select: none; /* для Safari */
  -moz-user-select: none; /* для Firefox */
  -ms-user-select: none; /* для IE/Edge */
}

.dragBoard {
  padding: 12px;
  background-color: #131313;
  width: 272px;
  height: 292.33px;
  border-radius: 10px;
}

.header {
  background: gray;
  cursor: grab;
}

.subtitle {
  margin: 0;
}
