.list {
  display: flex;
  gap: 10px;
}

// .listItem[data-active-over="true"] {
//   border-bottom: 3px solid #4caf50;
// }

.backgroundItem {
  padding: 0 10px;
  height: 100%;
}

.task {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  min-height: 35px;
  border: 1px solid gray;
  background-color: #22272b;
}
