.task {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.input {
  display: flex;
  justify-content: start;
  align-items: center;
  border: none;
  text-align: start;
  color: #e3e3e3;
  background-color: inherit;
  width: 100%;
}

.input:focus {
  outline: none;
}
